<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Video Streaming Server</title>
      <link rel="stylesheet" href="style.css">
      <script src="http://muhammedhaque.co.uk/pages/data-api.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    </head>
    <body>
      <div id="app">
        <h1>Hello {{user}}</h1>
        <a href="/login">logout</a>
        <div class="crumbs">
          <a href="#">..</a>
          <span v-for="c in pathParts"> / <a v-bind:href="'#/' + c.path">{{c.name}}</a></span>
        </div>
        <div
          v-if="!isAudioOfVideo(l)"
          v-for="l in listings"
          v-on:click="openListing(l)"
          class="listing"
          v-bind:class="[l.type]"
        >
          <img
            v-bind:src="getThumbnail(l)"
            onerror="this.onerror=null;this.src='play.png';this.style.objectFit='contain';"
            v-bind:class="[l.type]"
          >
          <span>
            {{l.type === 'D' ? l.name : l.name.replace(/\.[^.]+$/, '')}}
          </span>
          <button
            v-if="hasAudioOnly(l)"
            v-on:click="openListing(l, true); event.stopPropagation()"
            class="audio-only-button"
          >Audio only</button>
          <div
            class="progress"
            v-bind:style="{ width: l.progress + '%'}"
          ></div>
        </div>
      </div>
      <script>
        const user = localStorage.getItem('user');
        if (!user) {
          location.pathname = '/login';
        }

        const app = new Vue({
          el: '#app',
          data: {
            listings: [],
            pathParts: [],
            user,
          },
          methods: {
            openListing: (listing, audioOnly) => {
              if (audioOnly) {
                listing = app.listings.find(l => l.type === 'A' && fileNameMatches(l, listing));
              }
              let page = ((location.hash || '#') + '/' + listing.name).replace(/\/\//g, '/');
              switch (listing.type) {
                case 'D':
                  break;
                case 'V':
                  page = '/watch' + page;
                  break;
                case 'A':
                  page = '/listen' + page;
                  break;
              }
              location.href = page;
            },
            getThumbnail: listing => {
              switch (listing.type) {
                case 'D':
                case 'V':
                  return (location.hash.slice(1) + '/' + listing.name + '.png').replace(/\/\//g, '/');
                case 'A':
                  return 'audio.png';
              }
            },
            isAudioOfVideo: listing => {
              return listing.type === 'A' && app.listings.some(l => l.type === 'V' && fileNameMatches(l, listing));
            },
            hasAudioOnly: listing => {
              return listing.type === 'V' && app.listings.some(l => l.type === 'A' && fileNameMatches(l, listing));
            },
          },
        });

        function getListings() {
          const progress = {};
          Data.get('videoTime/' + user).then(r => {
            for (const t in r) {
              progress[decodeURIComponent(decodeURIComponent(t)).slice(2)] = r[t];
            }
          }).finally(() => {
            fetch('media/' + location.hash.replace('#', '')).then(r => r.json()).then(listings => {
              app.listings = listings.map(l => ({
                ...l,
                progress: (progress[decodeURIComponent(location.hash).slice(2) + '/' + l.name.replace(/\.\w+$/, '')] * 100) || 0,
              })).sort((a, b) => multiSort(
                // dirs on top
                +(b.type === 'D') - (a.type === 'D'),
                // finished on bottom
                +(a.progress > 98) - (b.progress > 98),
                // opened on top
                +(b.progress > 0) - (a.progress > 0),
                // by name
                a.name.localeCompare(b.name),
              ));
            });
          });
          app.pathParts = location.hash
                            .split('/')
                            .filter(p => p && p !== '#')
                            .map((p, i, arr) => ({
                                name: decodeURIComponent(p),
                                path: arr.slice(0, i + 1).join('/')
                            }));
        }
        getListings();
        window.addEventListener("hashchange", () => location.reload());

        function fileNameMatches(a, b) {
          return a.name.replace(/\.[^.]+$/, '') === b.name.replace(/\.[^.]+$/, '');
        }

        function multiSort(...vs) {
          return vs.find(v => v) || 0;
        }
      </script>
    </body>
  </html>