<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Video Streaming Server</title>
      <link rel="stylesheet" href="style.css">
      <script src="http://muhammedhaque.co.uk/pages/data-api.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    </head>
    <body>
      <div id="app">
        <h1>Hello {{user}}</h1>
        <a href="/login">
          <svg width="20px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.00195 7C9.01406 4.82497 9.11051 3.64706 9.87889 2.87868C10.7576 2 12.1718 2 15.0002 2L16.0002 2C18.8286 2 20.2429 2 21.1215 2.87868C22.0002 3.75736 22.0002 5.17157 22.0002 8L22.0002 16C22.0002 18.8284 22.0002 20.2426 21.1215 21.1213C20.2429 22 18.8286 22 16.0002 22H15.0002C12.1718 22 10.7576 22 9.87889 21.1213C9.11051 20.3529 9.01406 19.175 9.00195 17" stroke="#f7efd2" stroke-width="1.5" stroke-linecap="round"/>
            <path d="M15 12L2 12M2 12L5.5 9M2 12L5.5 15" stroke="#f7efd2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
        <div
          v-if="pathParts.length === 0 && recents.length"
          class="continue-container"
        >
          <h2>Continue watching</h2>
          <div>
            <listing-component
              v-for="l in recents"
              v-bind:listing="l"
              v-bind:in-recents="true"
            ></listing-component>
          </div>
        </div>
        <div class="crumbs">
          <a v-if="pathParts.length" href="#">
            <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="position: relative; top: 5px">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12 3.1875L21.4501 10.275L21.0001 11.625H20.25V20.25H3.75005V11.625H3.00005L2.55005 10.275L12 3.1875ZM5.25005 10.125V18.75H18.75V10.125L12 5.0625L5.25005 10.125Z" fill="#f7efd2"/>
            </svg>
          </a>
          <span v-for="c in pathParts"> / <a v-bind:href="'#/' + c.path">{{c.name}}</a></span>
          <button v-if="listings.some(l => l.type !== 'D')" v-on:click="openRandomListing()">Random</button>
        </div>
        <listing-component
          v-for="l in listings"
          v-if="!isAudioOfVideo(l)"
          v-bind:listing="l"
          v-bind:in-recents="false"
        ></listing-component>
      </div>
      <template id="listing-component">
        <div
          v-on:click="openListing(listing)"
          class="listing"
          v-bind:class="[listing.type]"
        >
          <img
            v-bind:src="getThumbnail(listing)"
            onerror="this.onerror=null;this.src='play.png';this.style.objectFit='contain';"
            v-bind:class="[listing.type]"
          >
          <div class="name-container">
            <span v-if="inRecents">
              {{listing.recentData.key.replace(/\/[^\/]+$/, '')}}
            </span>
            <span>
              {{listing.type === 'D' ? listing.name : listing.name.replace(/\.[^.]+$/, '')}}
            </span>
          </div>
          <button
            v-if="!inRecents && listing.type === 'A' || hasAudioOnly(listing)"
            v-on:click="openListing(listing, true); event.stopPropagation()"
            class="audio-only-button"
          >Audio only</button>
          <div
            class="progress"
            v-bind:style="{ width: listing.progress + '%'}"
            v-bind:class="[listing.type]"
          ></div>
        </div>
      </template>
      <script>
        const user = localStorage.getItem('user');
        if (!user) {
          location.pathname = '/login';
        }

        window.addEventListener('load', () => {
          Vue.component('listing-component', {
            props: ['listing', 'inRecents'],
            template: document.querySelector('template#listing-component').innerHTML,
            methods: {
              openListing,
              getThumbnail: listing => {
                let thumb = listing.recentData.thumb;

                if (!thumb) {
                  switch (listing.type) {
                    case 'D':
                    case 'V':
                      thumb = (location.hash.slice(1) + '/' + listing.name + '.png').replace(/\/\//g, '/');
                      break;
                    case 'A':
                      thumb = 'audio.png';
                      break;
                  }

                  listing.recentData.thumb = thumb;
                }

                return thumb;
              },
              hasAudioOnly: listing => {
                return listing.type === 'V' && app.listings.some(l => l.type === 'A' && fileNameMatches(l, listing));
              },
            },
          });

          const app = new Vue({
            el: '#app',
            data: {
              listings: [],
              pathParts: [],
              recents: [],
              user,
            },
            methods: {
              openRandomListing,
              isAudioOfVideo: listing => {
                return listing.type === 'A' && app.listings.some(l => l.type === 'V' && fileNameMatches(l, listing));
              },
            },
          });

          function getListings(followNext = true) {
            const progresses = {};
            Data.get('videoTime/' + user).then(({times, recents}) => {
              recents.reverse();

              for (const t in times) {
                progresses[decodeURIComponent(decodeURIComponent(t)).slice(2)] = times[t];
              }

              const uniqueRecents = [];
              for (let i = 0; i < recents.length && uniqueRecents.length < 10; i++) {
                let r = recents[i];
                if (!uniqueRecents.some(ur => ur.recentData.key === r.recentData.key)) {
                  r.progress = progresses[r.recentData.key] * 100;
                  uniqueRecents.push(r);
                }
              }

              app.recents = uniqueRecents;
              Data.set('videoTime/' + user + '/recents', uniqueRecents.toReversed());
            }).finally(() => {
              fetch('media/' + location.hash.replace('#', '')).then(r => r.json()).then(listings => {
                app.listings = listings.map(l => {
                  const key = (decodeURIComponent(location.hash).slice(2) + '/' + l.name.replace(/\.\w+$/, '')).replace(/^\//, '');
                  let progress;

                  if (l.type === 'D' && Object.keys(progresses).some(p => p.startsWith(key))) {
                    progress = 100;
                  } else {
                    progress = (progresses[key] || 0) * 100;
                  }

                  return { ...l, progress, recentData: { key } };
              }).sort((a, b) => multiSort(
                  // dirs on top
                  +(b.type === 'D') - (a.type === 'D'),
                  // finished on bottom, except for dirs
                  (a.type === 'D' ? 0 : +(a.progress > 98) - (b.progress > 98)),
                  // opened on top
                  +(b.progress > 0) - (a.progress > 0),
                  // by name
                  a.name.localeCompare(b.name),
                ));

                if (followNext) {
                  let lastData = localStorage.getItem('lastData');
                  localStorage.removeItem('lastData');
                  if (lastData) {
                    lastData = JSON.parse(lastData);
                    if (lastData.random) {
                      openRandomListing();
                    } else {
                      const next = listings[listings.findIndex(l => l.name === lastData.name) + 1];
                      if (next && next.type !== 'D') {
                        openListing(
                          app.listings.find(l => l.name === next.name),
                          lastData.audioOnly,
                        );
                      }
                    }
                  }
                }
              });
            });
            app.pathParts = location.hash
                              .split('/')
                              .filter(p => p && p !== '#')
                              .map((p, i, arr) => ({
                                  name: decodeURIComponent(p),
                                  path: arr.slice(0, i + 1).join('/')
                              }));
          }
          getListings();

          async function openListing(listing, audioOnly, random) {
            let page = listing.recentData.page;
            if (page) {
              history.pushState({}, '', '/' + listing.recentData.parent);
            } else {
              if (audioOnly) {
                listing = app.listings.find(l => l.type === 'A' && fileNameMatches(l, listing));
              }
              page = ((location.hash || '#') + '/' + listing.name).replace(/\/\//g, '/');
              switch (listing.type) {
                case 'D':
                  break;
                case 'V':
                  page = `/watch?random=${random}${page}`;
                  break;
                case 'A':
                  page = `/listen?audioOnly=${audioOnly}&random=${random}${page}`;
                  break;
              }
              listing.recentData.page = page;
              listing.recentData.parent = location.hash;
            }

            if (listing.type !== 'D') {
              await Data.set('videoTime/' + user + '/recents', listing, true);
            }

            location.href = page;
          }

          function openRandomListing() {
            let listing;
            do {
              listing = app.listings[Math.round(Math.random() * app.listings.length)];
            } while (listing.type === 'D');
            openListing(listing, false, true);
          }

          window.addEventListener("hashchange", () => location.reload());
          window.addEventListener("pageshow", event => {
            if (event.persisted || window.performance?.navigation.type === 2) {
              getListings(false);
            }
          });
        });

        function fileNameMatches(a, b) {
          return a.name.replace(/\.[^.]+$/, '') === b.name.replace(/\.[^.]+$/, '');
        }

        function multiSort(...vs) {
          return vs.find(v => v) || 0;
        }
      </script>
    </body>
  </html>
