<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Video Streaming Server</title>
      <link rel="stylesheet" href="style.css">
      <script src="http://muhammedhaque.co.uk/pages/data-api.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    </head>
    <body onkeydown="handleOnKeyDown(event)">
      <div id="app" onmousemove="handleMouseMove()">
        <div
          v-if="!audioOnly"
          id="player"
        ></div>
        <div class="overlaybutton back" onclick="audioEl().currentTime -= 10"></div>
        <div class="overlaybutton middle" onclick="mayToggleFullScreen()"></div>
        <div class="overlaybutton forward" onclick="audioEl().currentTime += 10"></div>
        <a class="parent-button"
          v-bind:class="{overscan: isTV}"
          v-bind:href="parent"
        >
          <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="position: relative; top: 5px">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 3.1875L21.4501 10.275L21.0001 11.625H20.25V20.25H3.75005V11.625H3.00005L2.55005 10.275L12 3.1875ZM5.25005 10.125V18.75H18.75V10.125L12 5.0625L5.25005 10.125Z" fill="#f7efd2"/>
          </svg>
        </a>
        <audio
          controls
          v-bind:src="src"
          v-bind:class="{overscan: isTV, audioOnly}"
          autofocus
          autoplay
        ></audio>
        <span
          v-if="!audioOnly"
          class="close-button"
          v-bind:class="{overscan: isTV}"
          v-on:click="audioOnly = true; document.getElementById('player').remove()"
        >&times;</span>
        <span class="name-title" onclick="togglePlayback()">{{name}}</span>
      </div>
      <script>
        const user = localStorage.getItem('user');
        if (!user) {
          location.pathname = '/login';
        }
        const cookies = document.cookie.split(/;\s*/g).map(x => x.split('=')).reduce((c, [k, v]) => ({...c, [k]: v}), {});
        const { data_key } = cookies;

        const audioEl = () => document.querySelector('audio');
        let videoEl;
        const searchParams = new URLSearchParams(location.search);

        const app = new Vue({
          el: '#app',
          data: {
            src: location.hash.slice(1),
            parent: '/' + location.hash.replace(/\/[^\/]+$/, ''),
            name: decodeURIComponent(location.hash.split('/').reverse()[0]).replace(/\.\w+$/, ''),
            isTV: navigator.userAgent.includes('Silk'),
            audioOnly: searchParams.get('audioOnly') === 'true',
          },
          mounted: () => {
            audioEl().addEventListener("loadedmetadata", () => {
              Data.get(data_key + '/' + user + '/times/' + encodeURIComponent(location.hash.replace(/\.\w+$/, '')))
                .then(r => {
                  if (r && r !== 1) {
                    audioEl().currentTime = (r || 0) * audioEl().duration;
                  }
                });
            });
            let updateTimeout;
            audioEl().addEventListener("timeupdate", () => {
              if (!updateTimeout) {
                updateTimeout = setTimeout(() => updateTimeout = 0, 10000);
                updateTimeRemote();
              }
            });
            audioEl().addEventListener('pause', () => {
              updateTimeRemote();
              videoEl.pauseVideo();
            });
            audioEl().addEventListener('ended', () => {
              updateTimeRemote();
              const { hash } = location;
              const index = hash.lastIndexOf('/');
              localStorage.setItem('lastData', JSON.stringify({
                name: decodeURIComponent(hash.slice(index + 1)),
                audioOnly: app.audioOnly,
                random: searchParams.get('random') === 'true',
              }));
              location.href = `/${hash.slice(0, index)}`;
            });
            audioEl().addEventListener("play", () => {
              videoEl.playVideo();
            });
            audioEl().addEventListener("seeked", () => {
              randomSeekVideo();
            });
          },
        });

        document.title = app.name;

        function handleOnKeyDown(event) {
          let preventDefault = true;
          switch(event.key) {
            case 'ArrowLeft':
              audioEl().currentTime -= 10;
              break;
            case 'ArrowRight':
              audioEl().currentTime += 10;
              break;
            case '0':
              audioEl().currentTime = 0;
              break;
            case 'm':
              audioEl().muted = !audioEl().muted;
              break;
            case 'f':
              toggleFullScreen();
              break;
            case ' ':
              togglePlayback();
              break;
            default:
              console.log(event.key);
              preventDefault = false;
              break;
          }
          if (preventDefault) event.preventDefault();
        }

        function togglePlayback() {
          audioEl()[audioEl().paused ? 'play' : 'pause']();
        }
        let clickTimeout;
        function mayToggleFullScreen(event) {
          if (clickTimeout) {
            toggleFullScreen();
            clearTimeout(clickTimeout);
            clickTimeout = 0;
          } else {
            clickTimeout = setTimeout(() => {
              togglePlayback();
              clickTimeout = 0;
            }, 400);
          }
        }
        function toggleFullScreen() {
          if (document.fullscreenElement) {
            document.exitFullscreen();
          } else {
            audioEl().parentElement.requestFullscreen();
          }
          setTimeout(() => {
            videoEl.setSize(window.innerWidth, window.innerHeight)
          }, 200);
        }
        const seekedToTimes = [];
        function randomSeekVideo() {
          if (videoEl.getPlayerState() !== 2) {
            let time;
            for (let i = 0; i < 500; i++) {
              time = videoEl.getDuration() * Math.random();
              if (!seekedToTimes.some(t => time > (t - 15) && time < (t + 15))) {
                break;
              }
              if (i === 499) {
                seekedToTimes.splice(0);
              }
            }
            seekedToTimes.push(time);
            videoEl.seekTo(time);
          }
        }
        function updateTimeRemote() {
          const percentage = audioEl().currentTime / audioEl().duration;
          if (percentage) {
            Data.set(data_key + '/' + user + '/times/' + encodeURIComponent(location.hash.replace(/\.\w+$/, '')), percentage);
          }
        }
        let hoverTimeout;
        function handleMouseMove() {
          clearTimeout(hoverTimeout);
          const el = document.getElementById('app');
          el.classList.add('hovering');
          hoverTimeout = setTimeout(() => el.classList.remove('hovering'), 7000);
        }

        function onYouTubeIframeAPIReady() {
          videoEl = new YT.Player('player', {
            height: window.innerHeight,
            width: window.innerWidth,
            videoId: 'hXoua0T7kQQ',
            playerVars: {
              autoplay: 1,
              controls: 0,
              disablekb: 1,
              enablejsapi: 1,
              fs: 0,
              loop: 1,
              playsinline: 1,
              rel: 0,
              start: Math.random() * 15000,
            },
            events: {
              onReady: () => {
                randomSeekVideo();
                setInterval(randomSeekVideo, 15_000);
                videoEl.playVideo();
              },
              onStateChange: event => {
                switch (event.data) {
                  case YT.PlayerState.PLAYING:
                    audioEl().play();
                    break;
                  case YT.PlayerState.PAUSED:
                    audioEl().pause();
                    break;
                }
              },
            }
          });
        }
      </script>
      <script src="https://www.youtube.com/iframe_api"></script>
    </body>
  </html>
